.shad_box:hover {
    box-shadow: 0 1px 20px 0 rgba(43, 43, 43, 0.7);
}

.modal-header{
    height: 40px;
}

.btn_fix {
    width: 115px;
    height: 60px;
    font-size: 1.2em;;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px;
}

.btn_start {
    width: 115px;
    height: 60px;
    font-size: 1.2em;;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px;
}

.btn_stop {
    width: 115px;
    height: 60px;
    font-size: 1.2em;;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px;
}