<!-- Сообщения об ошибках -->
<div class="modal fade" id="modAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Valley PRO2</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="mal1">.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<!-- Всплывашки -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header text-white" id="tHead">
      <strong class="me-auto">Valley PRO2</strong>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Закрыть"></button>
    </div>
    <div class="toast-body">
      <p style="font-size: 1.2em" id="tMess1"></p>
      <p style="font-size: 1.2em" id="tMess2"></p>
    </div>
  </div>
</div>

<!-- Окно запуска системы -->
<div class="modal fade" id="irrigOn" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background: #e6e6e6;">
                <h5 class="modal-title" id="staticBackdropLabel">Valley PRO2</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8"><p class="text-secondary fs-5" id="pValve"></p></div>
                    <div class="col">
                        <div class="spinner-border spinner-border-sm" id="spValve" role="status"></div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-8"><p class="text-secondary fs-5" id="pPump"></p></div>
                    <div class="col">
                        <div class="spinner-border spinner-border-sm" id="spPump" role="status"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8"><p class="text-secondary fs-5" id="pSystem"></p></div>
                    <div class="col">
                        <div class="spinner-border spinner-border-sm" id="spSystem" role="status"></div>
                    </div>
                </div>
               <div class="progress" style="margin-top: 15px; height: 2px;">
                    <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
               </div>
            </div>
        </div>
    </div>
</div>

<!-- Полноэкранное видео -->
<div class="modal fade" id="modCam" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body" id="modBody" style="background-size: cover">
                <div class="position-absolute bottom-0 end-0" style="padding: 20px;">
                        <button type="button" id="arr_ul" class="btn btn-primary btn_squar">⬁</button>
                        <button type="button" id="arr_u" class="btn btn-primary btn_squar">⇧</button>
                        <button type="button" id="arr_ur" class="btn btn-primary btn_squar">⬀</button>&ensp;&ensp;
                        <button type="button" id="arr_zin" class="btn btn-primary btn_squar">⇧</button><br>
                        <button type="button" id="arr_l" class="btn btn-primary btn_squar" style="margin-top: 3px;">⇦</button>
                        <button type="button" id="arr_fp" class="btn btn-primary btn_squar" style="margin-top: 3px;">◉</button>
                        <button type="button" id="arr_r" class="btn btn-primary btn_squar" style="margin-top: 3px;">⇨</button>&ensp;&ensp;
                        <button type="button" id="arr_zun" class="btn btn-primary btn_squar" style="margin-top: 3px;">◉</button><br>
                        <button type="button" id="arr_dl" class="btn btn-primary btn_squar" style="margin-top: 3px;">⬃</button>
                        <button type="button" id="arr_d" class="btn btn-primary btn_squar" style="margin-top: 4px;">⇩</button>
                        <button type="button" id="arr_dr" class="btn btn-primary btn_squar" style="margin-top: 3px;">⬂</button>&ensp;&ensp;
                        <button type="button" id="arr_zout" class="btn btn-primary btn_squar" style="margin-top: 3px;">⇩</button><br><br>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="width: 100%">Закрыть</button>
                </div>
{#                <div class="position-absolute bottom-0 end-0" style="padding: 20px; opacity: 0;">#}
{#                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>