{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-body"><h5>{{ header }}</h5></div>
    </div>
    <br>
    <div class="card shad_box">
        <div class="list-group list-group-flush">
            {% for stat in status %}
                {% for vall in valley %}
                    {% if vall.id == stat.status_valley_id %}
                        <label class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-10">
                                    <input class="form-check-input me-1" type="checkbox" value="{{ vall.valley_duet }}"
                                        id="v_chk{{vall.id}}" name="v_chk{{forloop.counter}}"
                                        {% if stat.status_ctrl == False %}disabled{% endif %}> {{ vall.valley_name }}</input>
                                </div>
                                <div class="col-2">
                                    {% if stat.status_run == False %}
                                        {% if stat.status_ctrl == False %}
                                            <span class="badge bg-danger" style="width: 100px;">Не доступна</span>
                                        {% else %}
                                            <span class="badge bg-danger" style="width: 100px;">Остановлена</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="badge bg-success" style="width: 100px;">Запущена</span>
                                    {% endif %}
                                </div>
                            </div>
                        </label>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="card"><button type="button" class="btn btn-primary" id="btn_sel" disabled>Открыть</button>
    </div>

{% endblock content %}