{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-md-center">
        {% for valley in valleyLst %}
            {% if valley != None %}
                <div class="col-6">
                    <div class="card shad_box" id="val">
                        <div class="card-header" style="background: #e6e6e6;">
                            <div class="row">
                                <div class="col-6"><h5>{{ valley.status_valley }}</h5></div>
                                <div class="col">
                                    {% if valley.status_run == True %}
                                        <span class="badge bg-success" style="width: 100px;">Управление</span>
                                    {% else %}
                                        <span class="badge bg-danger" style="width: 100px;">Управление</span>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    {% if valley.status_fail == True %}
                                        <span class="badge bg-success" style="width: 100px;">Авария</span>
                                    {% else %}
                                        <span class="badge bg-danger" style="width: 100px;">Авария</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6"><strong>Направление</strong></div>
                                        <div class="col-6">
                                            {% if valley.status_run == False %}
                                                <span class="badge bg-danger" style="width: 60px;">Выкл</span>
                                            {% else %}
                                                {% if valley.status_dir == "F" %}
                                                    <span class="badge bg-success" style="width: 60px;">Вперёд</span>
                                                {% elif valley.status_dir == "R" %}
                                                    <span class="badge bg-success" style="width: 60px;">Назад</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 5px;">
                                        <div class="col-6">Вода</div>
                                        <div class="col-6">
                                            {% if valley.status_run == False %}
                                                <span class="badge bg-danger" style="width: 60px;">Выкл</span>
                                            {% else %}
                                                {% if valley.status_wat == True %}
                                                    <span class="badge bg-success" style="width: 60px;">Вкл</span>
                                                {% else %}
                                                    <span class="badge bg-danger" style="width: 60px;">Выкл</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Автостоп</div>
                                        <div class="col-6">
                                            {% if valley.status_run == False %}
                                                <span class="badge bg-danger" style="width: 60px;">Выкл</span>
                                            {% else %}
                                                {% if valley.status_sis == True %}
                                                    <span class="badge bg-success" style="width: 60px;">Вкл</span>
                                                {% else %}
                                                    <span class="badge bg-danger" style="width: 60px;">Выкл</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-6">
                                            {% if valley.status_valve1 == True %}
                                                <span class="badge bg-success" style="width: 100px;">Задвижка 1</span>
                                            {% else %}
                                                <span class="badge bg-danger" style="width: 100px;">Задвижка 1</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-6">
                                            {% if valley.status_valve1 == True %}
                                                <span class="badge bg-success" style="width: 100px;">Задвижка 1</span>
                                            {% else %}
                                                <span class="badge bg-danger" style="width: 100px;">Задвижка 1</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-6">
                                    123 123
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}
